@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input,
button {
  outline: none;
  border: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

main > .container {
  width: 100%;
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  align-items: center;
  gap: 2rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #198754;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  width: 100%;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid #c4c4c4;
  font-size: 0.875rem;
}

input:focus {
  border: 1px solid #198754;
}

.btn-submit {
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  background-color: #198754;
  color: #fff;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 300ms ease;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #0f6e42;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.search-container {
  position: relative;
  width: 100%;
}

#search {
  padding: 0.625rem 1.25rem 0.625rem 2.5rem;
}

#search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: #198754;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

thead {
  background-color: #198754;
  color: #fff;
}

th {
  font-weight: 500;
}

th,
td {
  padding: 0.75rem;
  text-align: center;
}

tr {
  border-bottom: 1px solid #198754;
}

@media screen and (max-width: 768px) {
  main > .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
}
